*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #fefcfb;
    background-image: linear-gradient(180deg, #fefcfb 22%, #dadceb 50%);

}

img{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 60px;
    top: 120px;

}

/* cabeza */

#contenedor{
    background-color: #4a6199;
    background-image: linear-gradient(180deg, #4a6199 0%, #2e417c 100%);
    color: white; 
    height:100px;
    width: 100%;
    display: flex;
   position: relative;
}

 #logo{    
    width:200px;
    height: 55px;
    margin:7px;
    margin-left:120px;
    margin-right:380px;
    font-size: 50px; 
     font-family: 'Roboto Condensed', sans-serif;
} 

#titular{
    position: relative;
    top:25px;
    left: 2px;
}

#email{
    position: relative;
    height: 23px;
    top: 50px;
    right: 188px;
}

 #titular2{
    position: relative;
    top: 25px; 
    right: 150px;
}

#contraseña{
    position: relative;
    height: 23px;
    top: 50px;
    right: 225px;
}

#olvidar_contraseña{
    position: relative;
    top: 53px; 
    left: 215px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#olvidar_contraseña:hover{
    color: rgb(182, 182, 248);
    text-decoration:underline;
}

#boton{
    position: relative;
    width: 90px;
    height: 28px;   
    left: 400px;
    top: 5px;
    margin-left: 10px;
     border:none; 
    background-color: rgb(157, 175, 219);
    color: white;
        
    
}

#boton:hover{
    background-color: rgb(109, 129, 180);
   
}

/* cuerpo */

.general1,.general10{
    padding: 13px  ;
    width: 191px ;
     border: 60%; 
    border-radius: 4px;
    margin-top: 2%; 
    border: solid 1px rgb(219, 227, 245);
    border-radius: 5px; 
   
}  

 .general1{
    margin-right:10px; 
    margin-bottom:5px ;
} 

.general {
    padding: 13px  ;
    width: 425px ;
     border: 60%; 
    border-radius: 4px;
    margin-top: 2%;  
    border: solid 1px rgb(219, 227, 245);
    border-radius: 5px;
    margin-bottom:5px ;
}   

#nacimientotitulo{
    display: flex;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 7px;
    margin-bottom: 6px;
    
}

.contenedor_año{
    display: flex;
}

.generalaño {
    padding: 13px  ;
    width: 45px ;
     border: 60%; 
    border-radius: 4px;
    margin-top: 2%;  
    border: solid 1px rgb(219, 227, 245);
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 20px;

} 

#cuerpo{ 
    height:100%;
    width: 500px ;
    padding-bottom: 100px;
    margin-left:740px;
    
}

h1{
    padding-top: 25px;
    padding-bottom:10px ;
}

p{
    padding-bottom:10px ;
}

h1,p{
    font-family: 'Roboto Condensed', sans-serif;

}

#hombre{
    margin-left: 40px;
   
}

#hombretxt{
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}

#mujer{
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* esto es el css del boton */

.buttn{
    background-color: #78b469;
    background-image: linear-gradient(180deg, #78b469 2%, #5c934a 29%);    
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;

}

.buttn:hover{
    color:rgb(236, 250, 255);
    background-color: #649641;
    background-image: linear-gradient(180deg, #649641 2%, #3e6b22 29%);



}

